<h2>Welcome to Routine Maker <%= @user.username%></h2>

Let's get you started! 

<p>First, <%= link_to "Add some of the products you own/use", new_product_path%></p>

<p>Once you've got those logged, <%= link_to "Create your routines", routines_path%></p><br>

