<h2>Let's Edit  For <i><b><%= @routine.name %></b></i></h2>

<%= render partial: '/errors', locals: { record: @step} %>

<%= render partial: 'form', locals: {step: @step, routine: @routine, url: routine_step_path(@routine, @step)}%>